body {
	color: red;
	font-family: 'Henny Penny', cursive;
	background-image: url('images/background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
/*	background: blue;
*/}

h1 {
	color: green;
	background: yellow;
}

#header {
	border: 10px dashed green;
	background: pink;
}

.card {
	background-color: grey;
}

.product-card {
	color: orange;
	border: 2px solid orange;
	margin: 10px;
	text-align: center;
	font-family: 'Henny Penny', cursive;
}

.product-image {
	width: 400px;
/*	margin: 10px auto; */
/*	text-align: center;
*/}

.centered {
	text-align: center;
}